
@font-face {
    font-family: 'helvetica';
    src: url('Attachments/Helvetica.ttf') format('truetype');
  }

@font-face {
    font-family: 'helvetica-bold';
    src: url('Attachments/Helvetica-Bold.ttf') format('truetype');
}

/* Fonts*/
h1, h2{
   font-family: 'helvetica-bold', sans-serif; 
   text-align: center;
}

p, footer {
  font-family: 'helvetica', sans-serif;
}

li, a{
  font-family: 'helvetica-bold', sans-serif;
  font-size: 16px;
  color: #727272;
}

/* Header*/
header {
  display: flex;
  padding: 20px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

/* Navigation Bar*/
.nav-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  max-height: 5vh;
}
.nav-bar li {
  list-style: none;
}

.nav-bar a{
  text-decoration: none;
  font-size: 18px;
}

.nav-bar li a:hover {
  color: black;
}

/* Main Flexbox*/
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 85%;
  margin: auto;
}

/* Subject Content */
.text-1, .text-2, .text-3, .text-4 {
  background: #fcfbd2;
  margin: 10px;
  padding: 15px;
  font-size: 15px;
  text-align: left;
  flex: 100%;
  line-height: 25px;
}

.img-1 {
align-content: center;
}

/* Footer */
.footer{
  background-color: #f1f117;
  text-align: center;
  padding: 20px;
  margin: 50px;
  margin: -1%;
  font-size: 15px;
}

 /* Mobile Responsiveness*/
 @media all and (min-width: 600px) {
  img { flex: 1 0 0; }
}

@media all and (min-width: 600px) {
  .flex-container { flex: 3 0px; }
  .introduction { order: 0; } 
  .main { order: 1; }
  .conclusion { order: 2; }
}

 img {
     position:relative;
     top: 1%;
     height: 550px;
     width: 1180px;
 }