
@font-face {
    font-family: 'helvetica';
    src: url('Attachments/Helvetica.ttf') format('truetype');
  }

@font-face {
    font-family: 'helvetica-bold';
    src: url('Attachments/Helvetica-Bold.ttf') format('truetype');
}

/* Fonter*/
h1, h2{
   font-family: 'helvetica-bold', sans-serif; 
   text-align: center;
}

p, footer {
  font-family: 'helvetica', sans-serif;
}

li, a{
  font-family: 'helvetica-bold', sans-serif;
  font-size: 16px;
  color: #727272;
}

/* Header*/
header {
  display: flex;
  padding: 20px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

/* Navigation bar*/
.nav-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  max-height: 5vh;
}
.nav-bar li {
  list-style: none;
}

.nav-bar a{
  text-decoration: none;
  font-size: 18px;
}

.nav-bar li a:hover {
  color: black;
}


/* Introduksjonstekst*/
.article{
  display: flex;
}

.info{
  border-radius: 20px;
  background-color: #fcfbd2;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}

/* Hoved-flex*/
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 85%;
  margin: auto;
}

/* Innhold*/
.text-1, .text-2, .text-3, .text-5 {
  border-radius: 20px;
  background: #fcfbd2;
  margin: 15px;
  padding: 15px;
  font-size: 15px;
  text-align: left;
  flex: 100%;
  line-height: 25px;
}

.text-4 {
align-content: center;
}

/* Bunntekst*/
.footer{
  background-color: #13130d;
  text-align: left;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}

 /* Mobilversjon*/
 @media all and (min-width: 600px) {
  article { flex: 1 0 0; }
}

@media all and (min-width: 600px) {
  .flex-container { flex: 3 0px; }
  .introduction { order: 0; } 
  .main { order: 1; }
  .conclusion { order: 2; }
}

.securityCamera{
    margin: auto 0;
 }

 img {
     position:relative;
     top: 1%;
     height: 300px;
     width: 300px;
 }