
@font-face {
    font-family: 'helvetica';
    src: url('Attachments/Helvetica.ttf') format('truetype');
  }

@font-face {
    font-family: 'helvetica-bold';
    src: url('Attachments/Helvetica-Bold.ttf') format('truetype');
}

/* Fonter*/
h1, h2{
   font-family: 'helvetica-bold', sans-serif; 
}

p, footer {
  font-family: 'helvetica', sans-serif;
}

li, a{
  font-family: 'helvetica-bold', sans-serif;
  font-size: 16px;
  color: #727272;
}

/* Navigation bar*/
.nav-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  max-height: 5vh;
}
.nav-bar li {
  list-style: none;
}

.nav-bar a{
  text-decoration: none;
  font-size: 18px;
}

.nav-bar li a:hover {
  color: black;
}

/* Header*/
header {
  display: flex;
  padding: 10px;
  font-size: 25px;
  margin: auto;
  justify-content: center;
}

/* Introduksjonstekst*/
.article{
  display: flex;
}

.info{
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  line-height: 25px;
}

/* Hoved-flex*/
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Innhold*/
.text-1, .text-2, .text-3 {
  background: #fffeeb;
  margin: 15px;
  padding: 15px;
  font-size: 15px;
  text-align: left;
  flex: 25%;
  line-height: 25px;
}

/* Bunntekst*/
.footer{
  background-color: #fffeeb;
  text-align: center;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}

 /* Mobil og ipad*/
@media (max-width: 768px) {
  .text-1, .text-2, .text-3 { flex: 100%;}
  }
