
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @font-face {
      font-family: 'helvetica';
      src: url('Attachments/Helvetica.ttf') format('truetype');
    }
  
  @font-face {
      font-family: 'helvetica-bold';
      src: url('Attachments/Helvetica-Bold.ttf') format('truetype');
  }
  
  /* Fonter*/
  h1, h2{
     font-family: 'helvetica-bold', sans-serif; 
  }
  
  p, footer {
    font-family: 'helvetica', sans-serif;
  }
  
  li, a{
    font-family: 'helvetica-bold', sans-serif;
    font-size: 16px;
    color: black;
  }
  
  /* Navigation bar*/
  .nav-bar {
    background-color: beige;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    list-style-type: square;
    margin: -1%;
    margin-top: -5%;
  }

  .nav-bar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0px 1rem;
  }
  
  .nav-bar li {
    display: inline-block;
    padding: 0px 1rem;
  }
  
  .nav-bar li a:hover {
    color: yellow;
  }
 
  
  /* Mobilversjon*/
  @media all and (min-width: 600px) {
    article { flex: 1 0 0; }
  }
  
  @media all and (min-width: 600px) {
    .flex-container { flex: 3 0px; }
    .introduction { order: 0; } 
    .main { order: 1; }
    .conclusion { order: 2; }
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: row;
    }
  }

  @media (max-width: 800px) {
    .main, .introduction {
      flex: 100%;
    }
  }
  
  .Reflection {
    display: flex;
    background-color: #efefdf ;
    height: 15vh;
    align-items: center;
    justify-content: center;
    margin: -1%;
    margin-top: -1%;
    background-size: cover;
    z-index: 2;
    padding-bottom: 1%;
  }

  .title {
    color:black;
    background-color: beige;
    display: flex;
    text-align: center;
  }

  .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px;
    flex: 100%;
    margin: 5%;
    background-color: #fcfbd2;
    flex-wrap: wrap;
  }

  .introduction{
    display: flex;
    background-color: rosybrown;
    flex-direction: column;
    text-align: left;
  }

  .main{
    display: flex;
    background-color: plum;
    flex-direction: column;
    width: 50%;
    text-align: center;
    justify-content:flex-end;
    margin-right: auto;
  }

  .conclusion{
    display: flex;
    background-color: pink;
    flex-direction: column;
    text-align: left;
  }

 

  .stressa{
    margin: auto 0;
    display: flex;
 }

  .lykkelig{
    margin: auto 0;
    display: flex;
  }