
  
  @font-face {
      font-family: 'helvetica';
      src: url('Attachments/Helvetica.ttf') format('truetype');
    }
  
  @font-face {
      font-family: 'helvetica-bold';
      src: url('Attachments/Helvetica-Bold.ttf') format('truetype');
  }
  
  h1{
     font-family: 'helvetica-bold', sans-serif; 
  }
  
  h2{
    font-family: 'helvetica-bold', sans-serif;
  }
  
  p {
    font-family: 'helvetica', sans-serif;
  }
<<<<<<< Updated upstream
  

header h1 {
    display: flex;
    font-size: 6rem;
    color: yellow;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  
div {
     background-color: darkblue;
     border: 1px yellow;
  }
  
  header p {
     display: flex;
     font-size: 2.5rem;
     color: yellow;
     text-align: center;
     margin: 0 auto;
  }

 header{
   display: flex;
   background-image: url('attachments/oslo\ met\ datatorget.jpeg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 70vh;
   align-items: center;
   justify-content: center;
   opacity: 0.5;
 }

=======

  body {
    background: white;
  }
 
 .head {
  position: relative; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head::before {    
    content: "";
    background-image: url('attachments/oslo\ met\ datatorget.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; 
    opacity: 0.4;
}
    
h1 {
  position: relative;
  color: yellow;
  font-size: 6rem;
  text-align: center;
}
h2 {
  position: relative;
  color: yellow;
  font-size: 3rem;
  text-align: center;
}


div{
   background-color: darkblue;
 }






>>>>>>> Stashed changes

  li, a{
    font-family: 'helvetica-bold', sans-serif;
    font-size: 16px;
    color: black;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style-type: none;
  }
  
  .nav-bar li {
    display: inline-block;
    padding: 0 px 20px;
  }
  
  .nav-bar li a:hover {
    color: darkgray;
  }

