

  @font-face {
      font-family: 'helvetica';
      src: url('Attachments/Helvetica.ttf') format('truetype');
    }
  
  @font-face {
      font-family: 'helvetica-bold';
      src: url('Attachments/Helvetica-Bold.ttf') format('truetype');
  }
  
  h1{
     font-family: 'helvetica-bold', sans-serif; 
  }
  
  h2{
    font-family: 'helvetica-bold', sans-serif;
  }
  
  p {
    font-family: 'helvetica', sans-serif;
  }

 
  


 .bg {
  position: relative; 
  height: 100vh;
  display: flex;
  
  align-items: center;
  justify-content: center;

  margin-left: -1%;
  margin-right: -1%;
  margin-bottom: -1%;
}

.bg::before {    
    content: "";
    background-image: url('attachments/oslo\ met\ datatorget.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; 
    opacity: 0.3;
    
}

div{
  background-color: black;
}


    
h1 {
  position: absolute;
  top: 5%;
  color:yellow;
  font-size: 6rem;
  text-align: center;
 
}

h2{
  position: absolute;
  text-align: center;
  color:yellow;
  font-size: 3rem;
  top: 30%;
  
}

p {
  position: absolute;
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  top: 40%;
  width: 50vw;
  padding-left: 1vw;
  padding-right: 1vw;
}



/*NAVIGERINGS-BAR*/
  li, a{
    font-family: 'helvetica-bold', sans-serif;
    font-size: 16px;
    color: black;
  }

  .nav-bar {
    background-color: #ffff00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    list-style-type: none;
    margin: -1%;
  }
  
  .nav-bar li {
    display: inline-block;
    padding: 0 px 20px;
  }
  
  .nav-bar li a:hover {
    color: darkgray;
  }

  


  @media all and (max-width: 600px){
    p {
      width: 80%;
      padding-top: 15vh;
      font-size: 1.3rem;
      
    }

    h2{
      padding-top: 8vh;
      padding-left: 10vw;
      padding-right: 10vw;
    }

  }

  @media all and (min-width:600px) and (max-width: 900px){
    p {
      width: 80%;
    }
  }



