
  
  @font-face {
      font-family: 'helvetica';
      src: url('Attachments/Helvetica.ttf') format('truetype');
    }
  
  @font-face {
      font-family: 'helvetica-bold';
      src: url('Attachments/Helvetica-Bold.ttf') format('truetype');
  }
  
  h1{
     font-family: 'helvetica-bold', sans-serif; 
  }
  
  h2{
    font-family: 'helvetica-bold', sans-serif;
  }
  
  p {
    font-family: 'helvetica', sans-serif;
  }

  body {
    background: white;
  }
 
 .head {
  position: relative; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head::before {    
    content: "";
    background-image: url('attachments/oslo\ met\ datatorget.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; 
    opacity: 0.4;
}
    
h1 {
  position: relative;
  color: yellow;
  font-size: 6rem;
  text-align: center;
}
h2 {
  position: relative;
  color: yellow;
  font-size: 3rem;
  text-align: center;
}


div{
   background-color: darkblue;
 }







  li, a{
    font-family: 'helvetica-bold', sans-serif;
    font-size: 16px;
    color: black;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style-type: none;
  }
  
  .nav-bar li {
    display: inline-block;
    padding: 0 px 20px;
  }
  
  .nav-bar li a:hover {
    color: darkgray;
  }

